* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

main {
	align-items: center;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

button {
	padding: 1px 7px;
}

label {
	display: flex;
	gap: 5px;
}
